In [1]:
import numpy as np
from fieldlist import FieldList
path = "/Users/cgr/metview/python_test/tuv_pl.grib"

ft = FieldList(path)

In [2]:
a = ft[0]
a.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,t,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll

In [3]:
a = ft[2:5]
a.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,v,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll
1,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
2,ecmf,u,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll

In [4]:
a = ft[np.array([3, 5, 9])]
a.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
1,ecmf,v,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
2,ecmf,t,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll